body{
    background-color: rgb(74, 247, 74);
}

h1{
    background-color: blue;
    color: aliceblue;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.qoraquti{
    background-color: black;
    width: 360px;
    height: 540px;
    border-radius: 20px;
    margin:  10px auto;
    
}

.qizil{
    background-color: red;
   
}

.sariq{
    background-color: yellow;
   
}

.yashil{
   background-color: green;
}

.qizil,.sariq,.yashil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px auto;
}

















































